<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Come Play Mad Libs With Us!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>For this Mad Lib, we will need some verbs, adjectives and nouns from you: </h1>
    <form action="/MadLib" method="post">
     <label for="verbOne">Verb One</label>
     <input id="verbOne" name="verbOne" type="text">
     <label for="adjOne">Adjective One</label>
     <input id="adjOne" name="adjOne" type="text">
     <label for="adjTwo">Adjective Two</label>
     <input id="adjTwo" name="adjTwo" type="text">
     <label for="verbTwo">Verb Two</label>
     <input id="verbTwo" name="verbTwo" type="text">
     <label for="verbThree">Verb Three</label>
     <input id="verbThree" name="verbThree" type="text">
     <label for="nounOne">Noun One</label>
     <input id="nounOne" name="nounOne" type="text">
     <label for="nounTwo">Noun Two</label>
     <input id="nounTwo" name="nounTwo" type="text">
     <label for="verbFour">Verb Four</label>
     <input id="verbFour" name="verbFour" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>